body {
  font-family: Arial;
}

.clothing {
  position: relative;
  display: inline-block;
}

.clothing-piece {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.sales {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  top: 10px;
  right: 0;
}

.add-to-cart {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  border-color: black;
  border-style: solid;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}