body {
  font-family: Arial;
}

.main-title {
  font-size: 30px;
  margin-top: 0;
}

.location,
.destination {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 280px;
  border: none;
  background-color: rgb(232, 232, 232);
  margin-bottom: 7px;
}

.request-btn,
.later-btn {
  margin-top: 27px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 15px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.request-btn {
  background-color: black;
  color: white;
}

.request-btn:hover,
.later-btn:hover {
  opacity: 0.8;
}

.request-btn:active,
.later-btn:active {
  opacity: 0.5;
}
