p {
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 0;
}

.name {
  font-weight: bold;
}

.username-time {
  font-weight: lighter;
  color: grey;
}

.paragraph {
  width: 480px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.mention {
  color: rgb(0, 136, 255);
  cursor: pointer;
}