p {
  text-align: center;
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 0;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 17px;
}

span {
  text-decoration: underline;
}